body{
   background: linear-gradient(to right,#f081b9  0%, #2dbdec 100%)
}
nav
{
   margin: 3% 10%;
}
li{
   list-style: none;
   width: 90px;
   padding: 2% 0%;
}
.flex-container
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-between;
   padding: 0%;
   background: rgba(0, 0, 0, 0.2);
   border: black 1px solid;
   color: blanchedalmond;
   font-size: large;
   font-family: sans-serif;
   font-weight: bold;
   text-align: center;
}

li:hover
{
   background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width : 768px) {

   li{
      width: 50%;
   }
   .i{
      width: 20%;
   }
}
@media screen and (max-width : 480px) {

   li{
      width: 100%;
   }
}
